.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type="text"],
  input[type="email"] {
    width: 100%;
    border: 0;
    background: #e6b8e6;
    height: 50px;
    font-size: 16px;
    color: #000000;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #e6b8e6;
    height: 50px;
    font-size: 16px;
    color: #000000;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #e6b8e6;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #e6b8e6;
    float: right;
    border-radius: 4px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      background: #e6b8e6;
      color: #000000;
    }
  }

  .success-message,
  .error-message {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    text-align: center;
  }

  .success-message {
    background-color: #34c759;
    color: #fff;
  }

  .error-message {
    background-color: #ff3b30;
    color: #fff;
  }
}

.stage-cube-cont {
  width: 50%;
  height: 100%;
  top: 0;
  padding-top: 18%;
  margin-left: 0;
  position: absolute;
  right: 0;
  overflow: hidden;

  .cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px #e6b8e6;
    }

    .face1 {
      transform: translateZ(100px);
    }
    .face2 {
      transform: rotateY(90deg) translateZ(100px);
    }
    .face3 {
      transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    }
    .face4 {
      transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    }
    .face5 {
      transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    }
    .face6 {
      transform: rotateX(-90deg) translateZ(100px);
    }
  }
}

@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateZ(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

@media screen and (max-width: 1200px) {
  .stage-cube-cont {
    position: initial;
    width: 100%;
    height: 0%;
    overflow: visible;
  }
}
