.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #e6b8e6;
    height: 50px;
    font-size: 16px;
    color: #000000;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #e6b8e6;
    height: 50px;
    font-size: 16px;
    color: #000000;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #e6b8e6;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #e6b8e6;
    float: right;
    border-radius: 4px;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;

    &:hover {
      background: #e6b8e6;
      color: #000000;
    }
  }

  .success-message,
  .error-message {
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem;
    margin: 0;
    border-radius: 5px;
    text-align: center;
  }

  .success-message {
    background-color: #34c759;
    color: #fff;
  }

  .error-message {
    background-color: #ff3b30;
    color: #fff;
  }
}

.info-map {
  position: absolute;
  background-color: #000000;
  top: 50px;
  right: 30%;
  z-index: 999999;
  width: 267px;
  padding: 20px;
  color: #ffffff;
  font-family: 'Helvetica';
  font-size: 17px;
  font-weight: 300;
  opacity: 0;
  animation: fadeIn 1s 1.5s;
  animation-fill-mode: forwards;

  span {
    font-size: 16px;
    display: block;
    padding-top: 20px;
    color: #e6b8e6;
  }
}

.map-wrap {
  // background: linear-gradient(
  //   to bottom right,
  //   #70010175,
  //   #80008075,
  //   #ba55d375,
  //   #9370db75
  // );
  float: right;
  width: 53%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .map-wrap {
    float: none;
    width: 100%;
    height: 400px;
    margin: 0;
  }

  .info-map {
    display: none;
  }
}
