.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  width: auto;
  height: 100%;
  overflow: auto;
  padding: 30px;

  &::-webkit-scrollbar {
    width: 3px;
  }

  &::-webkit-scrollbar-track {
    background: #fee7fa;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(#c8adf0, #9e74d2);
    border-radius: 8px;
  }
}

@media screen and (max-width: 1200px) {
  .card-wrapper {
    justify-content: center;
    align-items: center;
  }
}
