.background {
  position: relative;
  z-index: 0;
  height: 100vh;
  
  .image {
    position: absolute;
    height: 100%;
    right: 0;
    opacity: 0.3;
    -webkit-filter: drop-shadow(10px 10px 10px #F5D5E5);
    filter: drop-shadow(10px 10px 10px #F5D5E5);
  }
}

@media screen and (max-width: 1200px) {
  .background {
    display: none;
  }
}
